.navbar {
    background-color: grey;
    padding: 10px;
    color: white;
}

.navbar .container ul{
    display: flex;
}
.navbar .container li {
    list-style-type: none;
    margin: 0 20px;
    cursor: pointer;
}